{% extends 'recipes/base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid recipe-details">
    <div class="card">
        <img src="{{ recipe.pic.url }}" class="card-img-top" alt="{{ recipe.title }}">
        <div class="card-body">
            <h3 class="card-title">{{ recipe.title }}</h3>
            <p class="card-text">{{ recipe.description }}</p>

            <h4 class="mt-4">Ingredients:</h4>
            <ul>
                {% for ingredient in recipe.ingredients.all %}
                    <li>{{ ingredient.name }}</li>
                {% endfor %}
            </ul>
            <h4 class="mt-4">Cooking time (min):</h4>
            <p>{{ recipe.cooking_time }}</p>

            <h4 class="mt-4">Instructions:</h4>
            <p>{{ recipe.instructions }}</p>

            <h4 class="mt-4">Difficulty:</h4>
            <p>{{ recipe.difficulty }}</p>

            <h4 class="mt-4">Created by:</h4>
            <p>{{ recipe.author }}</p>
        </div>
    </div>
</div>
<hr>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var toggleButtons = document.querySelectorAll(".toggle-reply-form");

        toggleButtons.forEach(function (button) {
            button.addEventListener("click", function () {
                var commentId = this.getAttribute("data-comment-id");
                var replyForm = document.getElementById("reply-form-" + commentId);

                if (replyForm.style.display === "none" || replyForm.style.display === "") {
                    replyForm.style.display = "block";
                    button.textContent = "Cancel"; 
                } else {
                    replyForm.style.display = "none";
                    button.textContent = "Reply"; 
                }
            });
        });
    });
</script>

{% endblock %}

